
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
    text-align: left !important;
   
    padding: 0 !important;
  }
 
  .logo{
      color: #fff;
      font-size: 30px !important;
      text-align: center !important;
  }
  .ant-layout-header span svg{
    height: 25px;
    width: 25px;
    margin: 2px;
  }
  