@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  font-size: 20px !important;
}

.ant-picker {
  border: 1px solid #1c7ece !important;
  width: 100% !important;
  border-radius: 5px !important;
}
input,
.ant-select,textarea {
  border: 1px solid #1c7ece !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}
.ant-select :hover{
  box-shadow: none !important;
  border: none !important;
}
.ant-select-selector{
  border-radius: 5px !important;
  box-shadow: none !important;
}
.ant-picker-input {
  border: 0px solid black !important;
}
.ant-radio {
  border: 1px solid #1c7ece !important;
  border-radius: 50% !important;
}
label {
  color: black !important;
}
.ant-picker-input input {
  border: none !important;
}

.register-form{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  border-top-left-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  padding: 20px !important;
  margin: 20px !important;
}
thead{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  font-weight: bold !important;
}
th{
  font-weight: bold !important;
}
.home{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  padding: 20px;
  margin: 20px !important;
  border-top-left-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}